body{
    background-color: hsl(222, 30%, 11%);
    color: azure;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html{
    font-size: 32px
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 5rem;
}

button.primary{
    color: azure;
    background-color: rgb(11, 0, 62);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 3rem;
    margin-top: 2rem;
}
button.primary:hover{
    background-color: rgb(16, 0, 85);
    cursor: pointer;
}

button.secondary{
    color: azure
    background-color: transparent;
    border-color: rgb(11, 0, 62);
    border-width: 0.4rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 3rem;
    margin-top: 2rem;
}