body{
    background-color: hsl(222, 30%, 11%);
    color: azure;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-size: 10rem;
}
h2{
    font-size: 7rem;
}